{% extends 'timeline/generalVerb.html.twig' %}

{% block timelineView %}
        <div class="actionSignature">
            <div class ="subjectThumbnail">
            </div>
            <div class="actionWritten">
                <a href="{{ path('perfil', {'id' : subject.id } ) }}">{{ subject.titulo }}</a> trocou a foto do perfil
            </div>
        </div>
        <div class="actionDetail">
            {% include 'timeline/viewTimelineFotoPerfil.html.twig' %}
        </div>
        
        {{ parent() }}

{% endblock %}