{% extends 'timeline/generalVerb.html.twig' %}

{% block timelineView %}
    <div class="actionSignature">
    </div>
    <div class="actionDetail">
        Bem vindo
    </div>

    {{ parent() }}
{% endblock %}
