{% extends 'layout/inicial.html.twig' %}
{% block conteudoInicial%}
    <style type="text/css">
        .clicavel {
            cursor: pointer;
        }

    </style>


  	<div class="limiter">
  		<div class="container-login100">
  			<div class="wrap-login100 p-t-85 p-b-20">
  				<form class="login100-form validate-form" action ="{{ path('homepage')}}/auth/login" method="post">
  					<span class="login100-form-title p-b-70">
  						Programming Game
  					</span>
  					<div class="wrap-input50 validate-input m-t-85 m-b-35" data-validate = "Email">
  						<input class="input100" type="text" name="_username">
  						<span class="focus-input100" data-placeholder="Email"></span>
  					</div>

  					<div class="wrap-input100 validate-input m-b-50" data-validate="Senha">
  						<input class="input100" type="password" name="_password">
  						<span class="focus-input100" data-placeholder="Password"></span>
  					</div>

  					<div class="container-login100-form-btn">
  						<input type = "submit" class="login100-form-btn" value="Logar">
  					</div>

  					<ul class="login-more p-t-50">
  						<li class="m-b-8">
  							<span class="txt1">
  								Esqueceu
  							</span>

  							<a href="#" class="txt2">
  								Usuário / Senha?
  							</a>
  						</li>

  						<li>
  							<span class="txt1">
  								Não tem uma conta?
  							</span>

  							<a href="{{ path('homepage') }}/normal_user
                " class="txt2">
  								Cadastrar
  							</a>
  						</li>
  					</ul>
  				</form>
  			</div>
  		</div>
  	</div>


  	<div id="dropDownSelect1"></div>

{% endblock %}
